.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__user {
    padding: 10px;
    margin-left: auto;
    text-align: left !important;
    color: white;
}

.message__userCard {
    background-color:lightseagreen !important;
}

.message__guestCard {
    background-color:white !important;
}